@import url('./index.css');

/*Apresentação*/
.apresentation {
    background-color: var(--BgColor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--fontColorP)
}

.apresentation > img {
    display: none;
}

h2 {
    font-size: 1.2em;
}

h2 > span {
    font-size:1.6em;
    color: var(--fontColorTittle);
}

.myGit {
    margin-top: 30px;
    width: 200px;
    padding: 15px;
    display: inline;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 1em;
    color: var(--FontColorButton);
    background-color: var(--btnColor);
}

.myGit > i {
    font-size: 30px ;
}

@media screen and (min-width: 720px) {
    .apresentation {
        flex-direction: column;
        justify-content: center;
    }

    .myGit {
        display: flex;
        margin: 20px;
    }

    .apresentation > img {
        display: block;
        width: 100vw;
        height: 50vh;
        object-fit: contain;
    }
}

@media screen and (min-width: 1024px) {
    .apresentation {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .apresentation > div {
        width: 40%;
        margin-left: 10%;
        margin-top: 2.5%;
    }

    .apresentation > img {
        width: 60%;
    }

    .myGit {
        display: inline;
    }

    h2 {
        font-size: 1.4em;
    }

    h2 > span {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1920px) { 
    .myGit {
        width: 260px;
    }
}
